In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path

In [2]:
import sys
import os

current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)

sys.path.append(parent_dir)

# Giờ bạn có thể import config
from config import input_columns, output_columns

# Kiểm tra giá trị của input_columns và output_columns
print("Input columns:", input_columns)
print("Output columns:", output_columns)

Input columns: ['height', 'weight', 'gender', 'age', 'form']
Output columns: ['shoulder', 'sleeve', 'neck', 'chest', 'waist', 'stomach', 'hip', 'front_jacket', 'biceps', 'armhole', 'front_vest', 'back_length', 'crotch', 'pants_length', 'thight', 'lower_thight', 'calves', 'leg_opening_width']

RAW DATA

In [3]:
df = pd.read_csv(Path(r"..\data\raw\dataset_measure.csv").resolve())

In [4]:
df

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,...,biceps,armhole,front_vest,back_length,crotch,pants_length,thight,lower_thight,calves,leg_opening_width
0,0.0,0.0,2,27,2,0.0,58.0,0.0,0.0,77,...,27,27,110,55,23,93,44,40,37,28
1,172.0,76.0,2,28,1,46.0,60.0,42.0,103.0,81,...,34,23,88,42,29,70,59,33,35,16
2,173.0,66.0,1,36,5,46.0,60.0,43.0,100.0,61,...,30,25,99,49,25,78,53,39,34,28
3,171.0,68.0,1,17,4,44.0,59.0,40.0,100.0,114,...,42,26,98,50,31,96,80,43,45,20
4,0.0,0.0,2,35,2,0.0,0.0,0.0,0.0,107,...,39,22,115,69,30,80,80,43,46,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5254,0.0,0.0,2,45,1,50.0,0.0,0.0,0.0,86,...,32,24,83,47,21,87,42,35,35,17
5255,171.0,70.0,2,36,1,44.0,58.0,40.0,95.0,79,...,33,23,92,58,25,74,48,30,39,21
5256,174.0,75.0,1,39,3,46.0,60.0,42.0,104.0,78,...,35,25,87,57,29,82,51,31,40,19
5257,0.0,0.0,2,37,1,0.0,0.0,0.0,0.0,77,...,50,25,127,62,32,89,54,40,36,29
5258,157.0,60.0,1,26,1,0.0,0.0,0.0,0.0,63,...,31,24,108,58,20,100,43,34,34,19

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5259 entries, 0 to 5258
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   height             5259 non-null   float64
 1   weight             5259 non-null   float64
 2   gender             5259 non-null   int64
 3   age                5259 non-null   int64
 4   form               5259 non-null   int64
 5   shoulder           5259 non-null   float64
 6   sleeve             5259 non-null   float64
 7   neck               5259 non-null   float64
 8   chest              5259 non-null   float64
 9   waist              5259 non-null   int64
 10  stomach            5259 non-null   int64
 11  hip                5259 non-null   int64
 12  front_jacket       5259 non-null   int64
 13  biceps             5259 non-null   int64
 14  armhole            5259 non-null   int64
 15  front_vest         5259 non-null   int64
 16  back_length        5259 non-null   int64
 17  crotch             5259 non-null   int64
 18  pants_length       5259 non-null   int64
 19  thight             5259 non-null   int64
 20  lower_thight       5259 non-null   int64
 21  calves             5259 non-null   int64
 22  leg_opening_width  5259 non-null   int64
dtypes: float64(6), int64(17)
memory usage: 945.1 KB

In [6]:
df.describe()

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,...,biceps,armhole,front_vest,back_length,crotch,pants_length,thight,lower_thight,calves,leg_opening_width
count,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,...,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000,5259.000000
mean,95.525425,38.844624,1.490778,33.016353,2.984027,33.011109,28.832763,19.316410,70.121411,85.497623,...,35.223236,22.540977,102.641567,56.400647,27.542118,89.980795,57.666667,38.872980,38.798631,22.494010
std,84.039351,35.935162,0.499962,10.142411,1.410218,22.784489,29.346555,20.196625,44.129769,15.944170,...,7.111859,1.737309,12.972272,10.485448,4.019717,10.228588,10.656170,5.547457,5.455790,4.608577
min,0.000000,0.000000,1.000000,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,60.000000,...,25.000000,20.000000,80.000000,40.000000,20.000000,70.000000,40.000000,30.000000,30.000000,15.000000
25%,0.000000,0.000000,1.000000,24.000000,2.000000,0.000000,0.000000,0.000000,0.000000,73.000000,...,30.000000,21.000000,93.000000,48.000000,25.000000,82.000000,50.000000,35.000000,35.000000,19.000000
50%,162.000000,56.000000,1.000000,33.000000,3.000000,43.000000,0.000000,0.000000,94.000000,83.000000,...,34.000000,23.000000,102.000000,55.000000,28.000000,90.000000,56.000000,38.000000,38.000000,22.000000
75%,170.000000,69.000000,2.000000,42.000000,4.000000,45.000000,59.000000,40.000000,100.000000,96.000000,...,41.000000,24.000000,110.000000,63.000000,30.000000,98.000000,65.000000,43.000000,43.000000,26.000000
max,205.000000,600.000000,2.000000,50.000000,5.000000,486.000000,85.000000,54.000000,150.000000,120.000000,...,50.000000,30.000000,130.000000,80.000000,35.000000,110.000000,80.000000,50.000000,50.000000,30.000000

PROCESSED DATA

In [7]:
df = pd.read_csv(Path(r"..\data\processed\dataset_measure.csv").resolve())

In [8]:
df

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,...,biceps,armhole,front_vest,back_length,crotch,pants_length,thight,lower_thight,calves,leg_opening_width
0,168.6,68.4,2,27,2,44.3,58.0,40.3,97.3,77,...,27,27,110,55,23,93,44,40,37,28
1,172.0,76.0,2,28,1,46.0,60.0,42.0,103.0,81,...,34,23,88,42,29,70,59,33,35,16
2,173.0,66.0,1,36,5,46.0,60.0,43.0,100.0,61,...,30,25,99,49,25,78,53,39,34,28
3,171.0,68.0,1,17,4,44.0,59.0,40.0,100.0,114,...,42,26,98,50,31,96,80,43,45,20
4,168.6,68.4,2,35,2,44.3,58.5,40.3,97.3,107,...,39,22,115,69,30,80,80,43,46,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5223,168.6,68.4,2,45,1,50.0,58.5,40.3,97.3,86,...,32,24,83,47,21,87,42,35,35,17
5224,171.0,70.0,2,36,1,44.0,58.0,40.0,95.0,79,...,33,23,92,58,25,74,48,30,39,21
5225,174.0,75.0,1,39,3,46.0,60.0,42.0,104.0,78,...,35,25,87,57,29,82,51,31,40,19
5226,168.6,68.4,2,37,1,44.3,58.5,40.3,97.3,77,...,50,25,127,62,32,89,54,40,36,29
5227,157.0,60.0,1,26,1,44.3,58.5,40.3,97.3,63,...,31,24,108,58,20,100,43,34,34,19

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228 entries, 0 to 5227
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   height             5228 non-null   float64
 1   weight             5228 non-null   float64
 2   gender             5228 non-null   int64
 3   age                5228 non-null   int64
 4   form               5228 non-null   int64
 5   shoulder           5228 non-null   float64
 6   sleeve             5228 non-null   float64
 7   neck               5228 non-null   float64
 8   chest              5228 non-null   float64
 9   waist              5228 non-null   int64
 10  stomach            5228 non-null   int64
 11  hip                5228 non-null   int64
 12  front_jacket       5228 non-null   int64
 13  biceps             5228 non-null   int64
 14  armhole            5228 non-null   int64
 15  front_vest         5228 non-null   int64
 16  back_length        5228 non-null   int64
 17  crotch             5228 non-null   int64
 18  pants_length       5228 non-null   int64
 19  thight             5228 non-null   int64
 20  lower_thight       5228 non-null   int64
 21  calves             5228 non-null   int64
 22  leg_opening_width  5228 non-null   int64
dtypes: float64(6), int64(17)
memory usage: 939.5 KB

In [10]:
df.describe()

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,...,biceps,armhole,front_vest,back_length,crotch,pants_length,thight,lower_thight,calves,leg_opening_width
count,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,...,5228.000000,5228.000000,5228.000000,5228.00000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000,5228.000000
mean,169.067024,68.308359,1.490245,33.013772,2.983550,44.236878,58.527066,40.298604,97.358818,85.505356,...,35.222265,22.541890,102.656083,56.41316,27.543803,89.980872,57.662777,38.872609,38.796672,22.489097
std,5.102289,8.378760,0.499953,10.150739,1.408832,2.280058,2.066450,1.681690,6.221716,15.946131,...,7.113630,1.736619,12.980078,10.49082,4.021774,10.230742,10.662972,5.550560,5.448524,4.605675
min,113.000000,20.000000,1.000000,16.000000,1.000000,24.000000,39.000000,29.000000,43.000000,60.000000,...,25.000000,20.000000,80.000000,40.00000,20.000000,70.000000,40.000000,30.000000,30.000000,15.000000
25%,168.600000,66.000000,1.000000,24.000000,2.000000,44.000000,58.500000,40.000000,95.000000,73.000000,...,30.000000,21.000000,93.000000,48.00000,25.000000,82.000000,50.000000,35.000000,35.000000,19.000000
50%,168.600000,68.400000,1.000000,33.000000,3.000000,44.300000,58.500000,40.300000,97.300000,83.000000,...,34.000000,23.000000,102.000000,55.00000,28.000000,90.000000,56.000000,38.000000,38.000000,22.000000
75%,170.000000,68.400000,2.000000,42.000000,4.000000,45.000000,59.000000,40.300000,100.000000,96.000000,...,41.000000,24.000000,110.000000,63.00000,30.000000,98.000000,65.000000,43.000000,43.000000,26.000000
max,205.000000,140.000000,2.000000,50.000000,5.000000,58.000000,73.000000,54.000000,150.000000,120.000000,...,50.000000,30.000000,130.000000,80.00000,35.000000,110.000000,80.000000,50.000000,50.000000,30.000000