In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path

In [118]:
import sys
import os

current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)

sys.path.append(parent_dir)

# Giờ bạn có thể import config
from config import input_columns, output_columns
from modules.preprocessing import label_encode
from modules.manipulation import check_csv


# Kiểm tra giá trị của input_columns và output_columns
print("Input columns:", input_columns)
print("Output columns:", output_columns)

Input columns: ['height', 'weight', 'gender', 'age', 'form']
Output columns: ['shoulder', 'sleeve', 'neck', 'chest', 'waist', 'stomach', 'hip', 'front_jacket', 'biceps', 'armhole', 'front_vest', 'back_length']

RAW DATA

In [119]:
df = pd.read_csv(Path(r"..\data\raw\dataset_measure - test1.csv").resolve())

In [120]:
df

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,...,biceps,armhole,front_vest,back_length,crotch,pants_length,thight,lower_thight,calves,leg_opening_width
0,110,14,1,24,Apple,30,39,27,59,"27,5",...,"3,5","27,5",44,66,29,83,55,40,39,19
1,174,75,1,27,Apple,0,0,0,0,107,...,38,29,126,49,29,93,43,36,39,17
2,168,48,1,31,pear,47,60,32,88,74,...,47,29,99,72,30,80,68,45,49,25
3,177,80,2,35,Apple,0,0,0,0,79,...,30,23,99,54,29,83,75,41,36,22
4,172,66,1,33,pear,45,0,0,100,88,...,33,27,123,74,25,79,41,33,33,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5254,195,86,1,44,pear,47,73,45,105,80,...,38,26,105,55,27,79,50,40,36,29
5255,196,73,1,32,Apple,46,68,39,95,100,...,45,28,117,67,30,80,80,49,40,16
5256,196,73,2,42,pear,45,69,41,96,62,...,27,21,84,50,25,105,59,50,37,27
5257,197,82,2,32,pear,48,69,40,103,80,...,31,25,99,49,26,89,53,32,35,29
5258,205,89,2,41,pear,46,73,40,106,70,...,31,21,80,49,25,72,56,34,34,18

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5259 entries, 0 to 5258
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   height             5259 non-null   object
 1   weight             5259 non-null   object
 2   gender             5259 non-null   int64
 3   age                5259 non-null   int64
 4   form               5259 non-null   object
 5   shoulder           5259 non-null   object
 6   sleeve             5259 non-null   object
 7   neck               5259 non-null   object
 8   chest              5259 non-null   object
 9   waist              5259 non-null   object
 10  stomach            5259 non-null   object
 11  hip                5259 non-null   object
 12  front_jacket       5259 non-null   object
 13  biceps             5259 non-null   object
 14  armhole            5259 non-null   object
 15  front_vest         5259 non-null   object
 16  back_length        5259 non-null   object
 17  crotch             5259 non-null   int64
 18  pants_length       5259 non-null   int64
 19  thight             5259 non-null   int64
 20  lower_thight       5259 non-null   int64
 21  calves             5259 non-null   int64
 22  leg_opening_width  5259 non-null   int64
dtypes: int64(8), object(15)
memory usage: 945.1+ KB

In [127]:
df.describe()

count    5242.000000
mean       66.992942
std         9.915236
min        31.000000
25%        60.000000
50%        66.000000
75%        73.000000
max       128.000000
Name: weight, dtype: float64

PROCESSED DATA

In [123]:
df = pd.read_csv(Path(r"..\data\processed\dataset_measure.csv").resolve())

In [124]:
df

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,stomach,hip,front_jacket,biceps,armhole,front_vest,back_length
0,174.0,75.0,1,27,0,44.5,62.5,38.6,95.5,107.0,84.0,113.0,129.0,38.0,29.0,126.0,49.0
1,168.0,48.0,1,31,1,47.0,60.0,32.0,88.0,74.0,102.0,96.0,115.0,47.0,29.0,99.0,72.0
2,177.0,80.0,2,35,0,44.5,62.5,38.6,95.5,79.0,90.0,89.0,82.0,30.0,23.0,99.0,54.0
3,172.0,66.0,1,33,1,45.0,62.5,38.6,100.0,88.0,117.0,113.0,106.0,33.0,27.0,123.0,74.0
4,180.0,77.0,1,32,0,47.0,62.5,38.6,108.0,116.0,108.0,124.0,105.0,38.0,28.0,92.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237,195.0,86.0,1,44,1,47.0,73.0,45.0,105.0,80.0,98.0,115.0,110.0,38.0,26.0,105.0,55.0
5238,196.0,73.0,1,32,0,46.0,68.0,39.0,95.0,100.0,118.0,116.0,129.0,45.0,28.0,117.0,67.0
5239,196.0,73.0,2,42,1,45.0,69.0,41.0,96.0,62.0,82.0,87.0,90.0,27.0,21.0,84.0,50.0
5240,197.0,82.0,2,32,1,48.0,69.0,40.0,103.0,80.0,87.0,103.0,94.0,31.0,25.0,99.0,49.0
5241,205.0,89.0,2,41,1,46.0,73.0,40.0,106.0,70.0,76.0,93.0,85.0,31.0,21.0,80.0,49.0

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5242 entries, 0 to 5241
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   height        5242 non-null   float64
 1   weight        5242 non-null   float64
 2   gender        5242 non-null   int64
 3   age           5242 non-null   int64
 4   form          5242 non-null   int64
 5   shoulder      5242 non-null   float64
 6   sleeve        5242 non-null   float64
 7   neck          5242 non-null   float64
 8   chest         5242 non-null   float64
 9   waist         5242 non-null   float64
 10  stomach       5242 non-null   float64
 11  hip           5242 non-null   float64
 12  front_jacket  5242 non-null   float64
 13  biceps        5242 non-null   float64
 14  armhole       5242 non-null   float64
 15  front_vest    5242 non-null   float64
 16  back_length   5242 non-null   float64
dtypes: float64(14), int64(3)
memory usage: 696.3 KB

In [126]:
df.describe()

,height,weight,gender,age,form,shoulder,sleeve,neck,chest,waist,stomach,hip,front_jacket,biceps,armhole,front_vest,back_length
count,5242.000000,5242.000000,5242.000000,5242.00000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000,5242.000000
mean,169.712056,66.992942,1.507249,33.45517,0.455361,44.472530,62.504483,38.586952,95.558375,84.154388,91.798398,102.158089,100.966253,34.698779,25.760435,100.236208,58.425486
std,6.346308,9.915236,0.499995,10.14875,0.498051,2.453539,7.612423,3.185607,9.449508,15.580943,12.832292,12.817026,13.638641,6.891479,4.438877,15.142430,13.539537
min,130.000000,31.000000,1.000000,16.00000,0.000000,34.000000,24.000000,30.000000,43.000000,43.000000,39.000000,52.000000,65.000000,15.000000,20.000000,52.000000,40.000000
25%,165.000000,60.000000,1.000000,25.00000,0.000000,43.000000,58.000000,38.000000,92.000000,73.000000,83.000000,93.000000,91.000000,30.000000,23.000000,91.000000,48.000000
50%,170.000000,66.000000,2.000000,34.00000,0.000000,44.500000,62.000000,38.600000,95.500000,83.000000,91.800000,102.100000,100.000000,34.000000,25.000000,100.200000,56.000000
75%,174.000000,73.000000,2.000000,42.00000,1.000000,46.000000,63.000000,40.000000,101.000000,91.000000,99.000000,110.000000,109.000000,39.000000,28.000000,109.000000,65.000000
max,205.000000,128.000000,2.000000,50.00000,1.000000,58.000000,85.000000,51.000000,146.000000,120.000000,120.000000,130.000000,130.000000,50.000000,40.000000,130.000000,96.000000